@model DfE.CheckPerformanceData.Persistence.Entities.CheckingWindowWorkflow.CheckingWindow

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="govuk-heading-l">@Model.Title</h2>

<div>
    <a asp-action="Step" asp-controller="DataCheck" asp-route-windowId="@Model.Id" asp-route-requestType="Add" role="button" class="govuk-button">
        Add
    </a>
</div>
<div>
    <a asp-action="Step" asp-controller="DataCheck" asp-route-windowId="@Model.Id" asp-route-requestType="Remove" role="button" class="govuk-button">
        Remove
    </a>
</div>
<div>
    <a asp-action="Step" asp-controller="DataCheck" asp-route-windowId="@Model.Id" asp-route-requestType="Include" role="button" class="govuk-button">
        Include
    </a>
</div>