@using System.Security.Claims
@model DfE.CheckPerformanceData.Web.Controllers.SecretViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Secret page.  Hello @Model.UserName of @Model.OrganisationName </h2>
