@model DfE.CheckPerformanceData.Web.Controllers.ViewModels.CheckYourPupilDataViewModel

@{
    ViewBag.Title = "Check Your Pupil Data";
    Layout = "_Layout";
}

@using DfE.CheckPerformanceData.Web.Controllers.ViewModels

<h1 class="govuk-heading-xl">Check your pupil data</h1>

<govuk-tabs>
    <govuk-tabs-item id="included" label="Included pupils">
        <h2 class="govuk-heading-l">Pupil included</h2>
        @await Html.PartialAsync("_PupilSearch", new PupilSearchViewModel
        {
            WindowId = Model.WindowId,
            InputId = "includedSearch",
            InputName = "includedSearch",
            CurrentValue = Model.IncludedSearch,
            ActiveTab = "included",
            OtherPageName = "nonIncludedPage",
            OtherPage = Model.NonIncludedPupilsPage,
            OtherSearchName = "nonIncludedSearch",
            OtherSearch = Model.NonIncludedSearch
        })
        @await Html.PartialAsync("_PupilTable", Model.IncludedPupils)
        @await Html.PartialAsync("_Pagination", new PaginationViewModel
        {
            CurrentPage = Model.IncludedPupilsPage,
            TotalPages = Model.IncludedPupilsTotalPages,
            WindowId = Model.WindowId,
            OtherPage = Model.NonIncludedPupilsPage,
            PageParam = "includedPage",
            TabAnchor = "#included",
            IncludedSearch = Model.IncludedSearch,
            NonIncludedSearch = Model.NonIncludedSearch
        })
    </govuk-tabs-item>

    <govuk-tabs-item id="nonIncluded" label="Non-included pupils">
        <h2 class="govuk-heading-l">Pupil non-include</h2>
        @await Html.PartialAsync("_PupilSearch", new PupilSearchViewModel
        {
            WindowId = Model.WindowId,
            InputId = "nonIncludedSearch",
            InputName = "nonIncludedSearch",
            CurrentValue = Model.NonIncludedSearch,
            ActiveTab = "nonIncluded",
            OtherPageName = "includedPage",
            OtherPage = Model.IncludedPupilsPage,
            OtherSearchName = "includedSearch",
            OtherSearch = Model.IncludedSearch
        })
        @await Html.PartialAsync("_PupilTable", Model.NonIncludedPupils)
        @await Html.PartialAsync("_Pagination", new PaginationViewModel
        {
            CurrentPage = Model.NonIncludedPupilsPage,
            TotalPages = Model.NonIncludedPupilsTotalPages,
            WindowId = Model.WindowId,
            OtherPage = Model.IncludedPupilsPage,
            PageParam = "nonIncludedPage",
            TabAnchor = "#nonIncluded",
            IncludedSearch = Model.IncludedSearch,
            NonIncludedSearch = Model.NonIncludedSearch
        })
    </govuk-tabs-item>
</govuk-tabs>
